/* Global Styles */
body {
    font-family: var(--text-regular);
    background-color: var(--grey-50);
    color: var(--grey-800);
}

/* Container principal */
.container {
    max-width: 1200px; /* Largeur plus conforme à la grille du DSFR */
    margin: 2rem auto;  /* Marges extérieures cohérentes */
    padding: 2rem;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); /* Ombres subtiles DSFR */
}

/* Form Styles */
#editor-form {
    display: flex;
    flex-direction: column;
}

/* Styles de l'éditeur */
.editor-container {
    border: 1px solid var(--grey-100);
    border-radius: 0.25rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
    background-color: white; /* Fond blanc */
}

.toolbar {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap; /* Permettre le retour à la ligne pour les petits écrans */
    gap: 0.5rem; /* Espacement entre les éléments de la barre d'outils */
}

.toolbar button,
.toolbar .color-picker-wrapper {
    padding: 0.5rem 1rem; /* Padding réduit pour les boutons */
    background-color: var(--blue-france);
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toolbar button:hover,
.toolbar .image-upload-btn:hover {
    background-color: var(--blue-france-light);
}

.editor-content {
    min-height: 200px;
    padding: 1rem;
    border: 1px solid var(--grey-100);
    border-radius: 0.25rem;
    outline: none;
    background-color: white;
    overflow-y: auto;
    resize: vertical; /* Permettre le redimensionnement vertical */
}

/* Bouton de soumission */
button[type="submit"] {
    padding: 0.75rem 1.5rem; /* Padding ajusté */
    background-color: var(--blue-france);
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: var(--blue-france-light);
}

input[type="radio"] {
    vertical-align: middle;
}

[name = genre] {
    padding-top: 0.75rem; /* Padding ajusté */

}
