html, body {
    margin: 0;
    height: 100%;
    font-family: var(--text-regular); /* Utilisation de la police régulière */
}

/* Style de focus pour les boutons */
button:focus-visible {
    outline: 2px solid var(--blue-focus) !important; /* Utilisation de la variable de couleur focus */
    outline: -webkit-focus-ring-color auto 5px !important; /* Compatibilité avec les navigateurs WebKit */
}

a {
    text-decoration: none;
}



/* Utilisation des polices Marianne si disponibles */
@font-face {
    font-family: "Marianne";
    src: url("https://gouvfr.cdn.mathjax.org/fonts/Marianne/woff2/marianne-regular-webfont.woff2") format("woff2"),
    url("https://gouvfr.cdn.mathjax.org/fonts/Marianne/woff/marianne-regular-webfont.woff") format("woff");
}

@font-face {
    font-family: "Marianne-Bold";
    src: url("https://gouvfr.cdn.mathjax.org/fonts/Marianne/woff2/marianne-bold-webfont.woff2") format("woff2"),
    url("https://gouvfr.cdn.mathjax.org/fonts/Marianne/woff/marianne-bold-webfont.woff") format("woff");
}
