/* Variables DSFR */
:root {
    --blue-france: #000091;
    --blue-france-light: #417dc1;
    --green-emeraude: #008577;
    --green-emeraude-light: #42b5aa;
    --grey-800: #323232;
    --grey-700: #404040;
    --grey-100: #e5e5e5;
    --grey-50: #f9f9f9;
    --text-regular: "Marianne", Arial, sans-serif;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles globaux */
body {
    font-family: var(--text-regular);
    background-color: var(--grey-50);
    color: var(--grey-800);
    display: flex; /* Pour aligner les éléments */
    flex-direction: column; /* Empiler verticalement */
    min-height: 100vh; /* Assurer que le contenu occupe toute la hauteur de la fenêtre */
}

/* Header */
.header {
    background-color: var(--blue-france);
    color: white;
    padding: 1rem 0;
    text-align: center;
}

/* Sidebar */
.sidebar {
    background-color: var(--grey-800);
    color: white;
    padding: 2rem;
    min-width: 250px; /* Largeur minimum de la sidebar */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 1000; /* Assurer que la sidebar reste au-dessus du contenu */
    transition: transform 0.3s ease-in-out; /* Transition pour le menu mobile */
}

/*.sidebar .menu-toggle {*/
/*    display: none; !* Masquer l'icône "X" par défaut sur les écrans larges *!*/
/*}*/

/* Contenu principal */
.main-content {
    padding: 2rem;
    flex: 1; /* Permet au contenu principal de prendre l'espace disponible */
}


/* Menu toggle (mobile) */
.menu-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1001; /* Au-dessus de la sidebar */
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    display: none; /* Masqué par défaut sur les écrans larges */
}

/* Responsive design */
@media (max-width: 1000px) {
    .sidebar {
        transform: translateX(-100%); /* Masquer la sidebar par défaut */
    }
    .sidebar.open {
        transform: translateX(0); /* Afficher la sidebar lorsqu'elle est ouverte */
    }
    .menu-toggle {
        display: block; /* Afficher l'icône de menu sur les petits écrans */
    }
    .sidebar .menu-toggle {
        display: block; /* Afficher l'icône "X" pour fermer la sidebar */
    }
}
