/* Global Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Header Styles */
.header {
    background-color: #003366;
    color: white;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}

/* Form Container Styles */
.content-container {
    padding-top: 20px;
    width: 100%;
    max-width: 500px;
    margin: auto;
    position: relative; /* Ajoutez ceci pour positionner la barre latérale par rapport à son conteneur */

}

/* Form Styles for Both Registration and Login */
.form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.form-group {
    margin: 10px;
    padding: 0px;
}

.form-group label {
    /* If you want the 'Sexe' label to appear like other labels, remove the 'display: block;' */
    margin-bottom: 8px;
    color: #333;
    font-size: 16px;
}

/* Since you want the radio buttons next to each other, you don't want them to be 100% width */
.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"],
.form-group input[type="date"],
.form-group button {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

/* Update your radio button specific styles here */
.form-group.sexe {
    display: flex; /* This will line up the child elements in a row */
    align-items: center; /* This will vertically align them in the middle */
    margin-bottom: 20px; /* Keep consistent spacing with other form elements */
}

/* Adjust label styles for inline display */
.form-group.sexe label {
    margin-right: 10px;
    margin-left: 0;
    /* You can adjust padding and margins as needed to align with the design */
    padding: 5px 10px;
    background-color: #f4f4f4;
    border: 1px solid #d1d3d4;
    border-radius: 10px;
    cursor: pointer;
}

/* Hide the default radio input appearance */
.form-group.sexe input[type="radio"] {
    opacity: 0; /* Hiding the radio button but still accessible */
    position: absolute; /* Remove from the flow so labels can be side by side */
    width: 0; /* Remove width so it doesn't affect the layout */
}

/* Style for when the radio button is selected */
.form-group.sexe input[type="radio"]:checked + label {
    background-color: #005b96;
    color: white;
    border-color: #005b96;
}


/* Button Styles */
.submit-button,
.bouton-d-inscription button {
    background-color: #005b96;
    color: white;
    padding: 15px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.submit-button:hover,
.bouton-d-inscription button:hover {
    background-color: #00467f;
}

/* Link Styles */
.form-links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.form-links a {
    color: #005b96;
    text-decoration: none;
}

.form-links a:hover {
    text-decoration: underline;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .content-container {
        padding: 20px;
    }

    .form {
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .header {
        font-size: 20px;
        padding: 10px 0;
    }

    .content-container {
        padding: 10px;
    }

    .form {
        padding: 15px;
    }
}


/* Styles existants pour les formulaires... (Ne pas changer cela) */

/* Ajout de styles spécifiques à la page d'accueil */
/* Styles pour la barre latérale */
.sidebar {
    background-color: #333;
    color: #fff;
    width: 250px;
    padding: 30px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
}

/* Styles pour le contenu principal */


/* Styles pour les éléments du menu */
.menu-item {
    margin-bottom: 10px;
}

/* Styles pour les cartes */
.card {
    background: #fff;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 20px;
    margin: 20px;
}

/* Styles pour les boutons */
.button-primary {
    background-color: #005b96;
    color: white;
    padding: 15px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button-primary:hover {
    background-color: #00467f;
}

/* Styles pour le footer */
.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
}

/* Styles pour les cartes */
.cards {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

/* Styles pour la séparation entre les cartes */
.cards + .cards {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}



/* Media query pour les petits écrans */
@media (max-width: 1000px) {
    .sidebar {
        background-color: #333;
        color: #fff;
        width: 100%;
        height: 100%; /* Occupera toute la hauteur de l'écran */
        padding: 20px;
        position: fixed; /* Position fixe pour rester au-dessus de tous les autres éléments */
        top: 0;
        left: 0;
        overflow-y: auto; /* Activer le défilement vertical si nécessaire */
        z-index: 999; /* Assure que la barre latérale est au-dessus de tous les autres éléments */
        text-align: center; /* Centrer le texte horizontalement */
        font-size: 24px; /* Taille du texte agrandie */

    }

    .sidebar h2 {
        margin-top: 50%; /* Décalage vers le haut de la moitié de la hauteur de la barre latérale */
        transform: translateY(-50%); /* Alignement vertical du texte */
    }
    /* Styles pour l'icône de menu */
    .menu-toggle {
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 999;
        width: 40px;
        height: 40px;
        cursor: pointer;
        color: white;
    }

    .menu-icon {
        width: 30px;
        height: 3px;
        background-color: #fff;
        position: relative;
    }

    .menu-icon::before,
    .menu-icon::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #fff;
    }

    .menu-icon::before {
        top: -8px;
    }

    .menu-icon::after {
        top: 8px;
    }






    .main-content {
        padding: 20px;

    }
}

@media (min-width: 1001px) {

    .main-content {
        padding: 20px;
        margin-left: 250px;

    }

}

/* Media query pour les écrans encore plus petits */
@media (max-width: 480px) {
    .button-primary {
        padding: 10px;
    }
}



.menuA {
    color: white;
}

a[href]:not(:visited) {
    text-decoration: none; /* Supprimez la soulignement par défaut */
}
